* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.sidebar {
  background-color: #171717;
  display: flex;
  width: 207px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  color: white;
  font-size: 27px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: -0.02em;

  margin-top: 36px;
  justify-content: center;
  align-items: center;
}
.logo:hover {
  cursor: pointer;
}
.icon {
  margin-right: 16px;
}

.connectButton {
  background: #58cea1;
  width: 185px;
  height: 56px;
  border: none;
  border-radius: 27px;
  margin-top: 44px;
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 73px;
  width: 170px;
  color: white;
  font-family: Inter;
}

.navLinks {
  display: flex;

  height: 41px;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 15px;
  font-size: 16px;
}

.navLinks:hover {
  border: 1px solid #7aedc1;
  border-radius: 10px;
}

.icon {
  margin-right: 11px;
}

.header {
  margin-left: 207px;
  background-color: #f7f7f7;
  height: 101px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 81px;
  padding-right: 73px;
}

.header form {
  width: 70%;
  margin-right: 138px;
}

.search {
  height: 34px;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 3px;
  background: #ffffff url(../images/search-icon-png-9982.png) no-repeat left;
  background-size: 15px;
  background-position: 20px 8px;
  padding-left: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
}

.search::placeholder {
  color: #c0c0c0;
}

.createCaseButton {
  width: 143px;
  height: 50px;
  background: #58cea0 url(../images/plus.png) no-repeat left;
  background-size: 23px;
  background-position: 12px;
  border-radius: 4px;
  border: none;
  text-align: right;
  padding-right: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.createCaseButton:hover {
  cursor: pointer;
}

.dashboardPage {
  display: flex;
  flex-direction: column;
  margin-left: 207px;
}

.dashboardInfo {
  height: 298px;
  padding-left: 69px;
  padding-top: 28px;
  font-family: "Helvetica";
  color: #58cea1;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.cummunitiesCounter {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #1d1d1d;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding-left: 10px;
  padding-top: 10px;
}

.cummunitiesCounter p {
  padding-left: 14px;
}


.listHeader {
  background: #ffffff;
  box-shadow: 0px -3px 6px -1px rgba(16, 24, 40, 0.1);
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 84px;
  width: 100%;
  padding-left: 47px;
  padding-right: 40px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  font-feature-settings: "salt" on;
  color: #0a0a0a;
}
.listHeader div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listHeader form {
  width: 100%;
  padding-left: 66px;
}
.listHeader form input {
  height: 34px;
  width: 100%;
  border: 1px solid #ababab;
  border-radius: 3px;
  background: #ffffff url(../images/search-icon-png-9982.png) no-repeat left;
  background-size: 15px;
  background-position: 20px 8px;
  padding-left: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
}

.searchBlock {
  width: 50%;
}

.listHeader select {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  width: auto;
  height: 41px;
  background: #ffffff;
  border: 0.5px solid #cbd5e1;
  border-radius: 5px;
  gap: 6px;
  -webkit-appearance: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: #ffffff url(../images/arrow1.svg) no-repeat right;
  background-position: 75px;
}

.selectorBlock {
  width: 232px;
  margin-left: 25px;
}
#Metrics {
  width: 107px;
}

.buttonBlock {
  margin-left: 55px;
}

.buttonBlock button {
  width: 121px;
  height: 50px;
  margin-top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  font-feature-settings: 'salt' on;
}

#apply {
  background: #171717;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  

  color: #CBDED6;
}

#clear {
  background: none;
  border: none;
  color: #58CEA0;
}

.soulsList {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 9px;
  padding-right: 44px;
}

.listHead {
  display: flex;
  height: 75px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  align-items: center;
}
#name {
  padding: 65px;
}
.col-1 {
  width: 76px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}
.col-2 {
  width: 290px;
  display: flex;
}
.col-3 {
  width: 22%;
  display: flex;

}
.col-4 {
  width: 14%;
  display: flex;

}
.col-5 {
  width: 20%;
  display: flex;

}
.col-6 {
  display: flex;
  text-align: right;
  justify-content: right;
  margin-left: auto;
  width: 133px;
}
.soulRow {
  display: flex;
  align-items: center;
  height: 64px;
  font-style: normal;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;

  box-shadow:  0px 2px 4px -2px rgba(16, 24, 40, 0.1);
  border-radius: 5px;
  letter-spacing: -0.02em;
font-feature-settings: 'salt' on;
}

.soul-info {
  display: flex;
  align-items: center;
}
.name-addr {
  padding: 14px;
}
.address {
  font-size: 11px;
  color: #4E4747;
  line-height: 17px;
}

.view-button {
  width: 104.6px;
  height: 31px;
  border: 1px solid #58CEA1;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;
  font-feature-settings: 'salt' on;
  background: none;
  color: #58CEA0;
  margin-right: 28px;
}

.view-button:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  justify-content: center;
}