* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;   
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}



.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 207px;
}







