.header {
    margin-left: 207px;
    background-color: #f7f7f7;
    height: 101px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 81px;
    padding-right: 73px;
  }
  
  .header form {
    width: 70%;
    margin-right: 138px;
  }
  
  .search {
    height: 34px;
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 3px;
    background: #ffffff url(../images/search-icon-png-9982.png) no-repeat left;
    background-size: 15px;
    background-position: 20px 8px;
    padding-left: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
  }
  
  .search::placeholder {
    color: #c0c0c0;
  }
  
  .connectButton {
    background: #58cea1;
    width: 185px;
    height: 56px;
    border: none;
    border-radius: 27px;
    
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .connectedButton {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    cursor: pointer;
    width: 170px;
    height: 50px;
    background: #000000;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 8px;
    padding-left: 11px;
  }

  .connected-info {
    margin-left: 17px;
  }

  #connected-name {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }

  #connected-address {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.09em;
    margin-top: 2px;
  }

  .no-account {
    display: flex;
    justify-content: center;
  }

  .avatar {
    border-radius: 50%;
  }